<header class="topbar">

    <div class="topbar-row">

        <div class="left-section">

            <button id="menuBtn">
                <i class="fa-solid fa-bars"></i>
            </button>

            <h2><%= pageTitle %></h2>

        </div>

    </div>

    <div class="search-box">

        <i class="fa-solid fa-magnifying-glass"></i>

        <input
            type="text"
            placeholder="Search License...">

    </div>

</header>