<body>

<div id="overlay"></div>

<%- include("../partials/toast") %>

<%- include("../partials/confirm-modal") %>

<%- include("../partials/sidebar") %>

<main class="content">

    <%- body %>

</main>

</body>